
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "@heroui/styles"; 

body {
  background-color: var(--background, #ffffff);
  color: var(--foreground, #000);
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 300ms;
}

* {
  box-sizing: border-box;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-code: "Fira Code", monospace;
}

body, a, button, input, textarea , button *, link * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6,span {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-transform: capitalize;
}

code, .code, pre, .pre, .code *, .code p, .code span, .code a {
  font-family: "Fira Code", monospace !important;
  font-optical-sizing: auto;
  font-style: normal;
}
/* WebKit/Blink scrollbar styles (Chrome, Edge, Safari) - use theme vars */
::-webkit-scrollbar,code {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-foreground);
  border-radius: 10px;
}

.no-scrollbar::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  /* Slightly darker on hover to give feedback */
  filter: brightness(0.9);
}

a {
  @apply   transition-colors duration-300;
}


/*
 * HeroUI Theme Customization
 * Add this to your global.css after importing @heroui/styles
 * Only includes variables users need to customize
 * @see https://heroui.com/docs/react/getting-started/theming
 */

:root,
.light,
.default,
[data-theme="light"],
[data-theme="default"] {
  /* Theme Colors (Light Mode) */
  --accent: oklch(76.97% 0.2124 148.67);
  --accent-foreground: oklch(15% 0.0300 148.67);
  --background: oklch(97.02% 0.0020 148.67);
  --border: oklch(90.00% 0.0020 148.67);
  --danger: oklch(65.32% 0.2337 13.12);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(94.00% 0.0020 148.67);
  --default-foreground: oklch(21.03% 0.0059 148.67);
  --field-background: oklch(100.00% 0.0010 148.67);
  --field-border: transparent;
  --field-foreground: oklch(21.03% 0.0020 148.67);
  --field-placeholder: oklch(55.17% 0.0040 148.67);
  --focus: oklch(76.97% 0.2124 148.67);
  --foreground: oklch(21.03% 0.0020 148.67);
  --muted: oklch(55.17% 0.0040 148.67);
  --overlay: oklch(100.00% 0.0006 148.67);
  --overlay-foreground: oklch(21.03% 0.0020 148.67);
  --scrollbar: oklch(87.10% 0.0020 148.67);
  --segment: oklch(100.00% 0.0020 148.67);
  --segment-foreground: oklch(21.03% 0.0020 148.67);
  --separator: oklch(92.00% 0.0020 148.67);
  --success: oklch(73.29% 0.1943 138.19);
  --success-foreground: oklch(21.03% 0.0059 138.19);
  --surface: oklch(100.00% 0.0010 148.67);
  --surface-foreground: oklch(21.03% 0.0020 148.67);
  --surface-secondary: oklch(95.24% 0.0016 148.67);
  --surface-secondary-foreground: oklch(21.03% 0.0020 148.67);
  --surface-tertiary: oklch(93.73% 0.0016 148.67);
  --surface-tertiary-foreground: oklch(21.03% 0.0020 148.67);
  --warning: oklch(78.19% 0.1591 59.71);
  --warning-foreground: oklch(21.03% 0.0059 59.71);

  /* Border Radius */
  --radius: 0.5rem;
  --field-radius: 0.5rem;

  /* Font Family */
  /* Make sure to load Inter font in your app */
  --font-sans: var(--font-inter);
}

.dark,
[data-theme="dark"] {
  color-scheme: dark;
  /* Theme Colors (Dark Mode) */
  --accent: oklch(76.97% 0.2124 148.67);
  --accent-foreground: oklch(15% 0.0300 148.67);
  --background: oklch(12.00% 0.0020 148.67);
  --border: oklch(28.00% 0.0020 148.67);
  --danger: oklch(59.40% 0.1975 12.01);
  --danger-foreground: oklch(99.11% 0 0);
  --default: oklch(27.40% 0.0020 148.67);
  --default-foreground: oklch(99.11% 0 0);
  --field-background: oklch(21.03% 0.0040 148.67);
  --field-border: transparent;
  --field-foreground: oklch(99.11% 0.0020 148.67);
  --field-placeholder: oklch(70.50% 0.0040 148.67);
  --focus: oklch(76.97% 0.2124 148.67);
  --foreground: oklch(99.11% 0.0020 148.67);
  --muted: oklch(70.50% 0.0040 148.67);
  --overlay: oklch(21.03% 0.0040 148.67);
  --overlay-foreground: oklch(99.11% 0.0020 148.67);
  --scrollbar: oklch(70.50% 0.0020 148.67);
  --segment: oklch(39.64% 0.0020 148.67);
  --segment-foreground: oklch(99.11% 0.0020 148.67);
  --separator: oklch(25.00% 0.0020 148.67);
  --success: oklch(73.29% 0.1943 138.19);
  --success-foreground: oklch(21.03% 0.0059 138.19);
  --surface: oklch(21.03% 0.0040 148.67);
  --surface-foreground: oklch(99.11% 0.0020 148.67);
  --surface-secondary: oklch(25.70% 0.0030 148.67);
  --surface-secondary-foreground: oklch(99.11% 0.0020 148.67);
  --surface-tertiary: oklch(27.21% 0.0030 148.67);
  --surface-tertiary-foreground: oklch(99.11% 0.0020 148.67);
  --warning: oklch(82.03% 0.1394 63.72);
  --warning-foreground: oklch(21.03% 0.0059 63.72);
}
